<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.css" media="screen,projection" />

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize\css\materialize.min.css" media="screen,projection" />

<title>Insert title here</title>
</head>
<body>
	<h1>Ola Spring Boot</h1>
	<a href="/cadastropessoa">Cadastrar Pessoas</a>
</body>
</html>