<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<title>Insert title here</title>
</head>
<body>
	<h1>Acesso ao sistema</h1>
	
	<form th:action="@{/login}" method="post">
		<label>Login</label>
		<input type="text" name="username">
		<input type="submit" value="E N V I A R">
	</form>
	
</body>
</html>